$color-white: #ffffff;
$color-primary-blue: #102654;
$color-dark-blue: #030a1a;
$color-light-blue: #103aae;
$color-blue: #1c3374;
$color-red: #ed0233;
$color-gray-blue: #495a7d;

$font-bebas: var(--font-bebas);
$font-roboto: var(--font-roboto);

$primary-gradient: linear-gradient(to right top, #003d85, #b80027);

$screen-xl: 1365px;
$screen-lg: 1199px;
$screen-md: 767px;
$screen-xs: 320px;
